
<div class="text-lila d-flex justify-content-between">
    <div class="bg-light p-3 m-5 w-100">
        <div class="mt-3">
            <div class="images">
                <img class="main-img cv-img" src="../../../assets/images/bild2.jpg" alt="">
                <img class="hover-img cv-img" src="../../../assets/images/bild3.jpg" alt="">
            </div>
        </div>
        <div>
            <h3 class="mt-3 text-center">Om mig</h3>
            <ul>
                <li class="mb-1">Ambitiös, ansvarsfull, ordningsam och väldigt lättlärd</li>
                <li class="mb-1">Trivs med att arbeta både självständigt och tillsammans i team</li>
                <li class="mb-1">Flytande engelska, finska och svenska på modersmålsnivå</li>
            </ul>
            <p>På fritiden umgås jag gärna med min familj, promenerar med min hund, målar tavlor, odlar grönsaker och går på yoga och danspass på Friskis&Svettis.</p>
        </div>
    </div>
    <div class="bg-light p-3 m-5 w-100">
        <h3 class="mt-3 text-center">Utbildningar</h3>
        <div class="p-2">
            <h5>EC Utbildning, Västerås</h5>
            <h6>Frontendutvecklare, 2020-2022</h6>
            <p>2-årig yrkeshögskoleutbildning med fokus på JavaScript och med kunskaper inom bl.a. HTML, CSS, Vue, Angular, Reactoch NodeJS.</p>
        </div>
        <div class="p-2">
            <h5>IT-Högskolan</h5>
            <h6>Grundkurs i programmering, 2018</h6>
            <p>Distanskurs i Java-programmering</p>
        </div>
        <div class="p-2">
            <h5>Mälardalens högskola</h5>
            <h6>Sjukgymnastprogrammet, 180 hp, 2010-2013</h6>
            <p>Sjukgymnastexamen och kandidatexamen i sjukgymnastik med inriktning mot beteendemedicin.</p>
        </div>
        <div class="p-2">
            <h5>Bolandsskolan, Uppsala</h5>
            <h6>Estetiska programmet, 1998-2001</h6>
            <p>Gymnasieexamen från estetiska programmets teaterlinje.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-lila" routerLink="/merits">Alla utbildningar</button>
        </div>
        
    </div>
    <div class="bg-light p-3 m-5 w-100">
        <h3 class="mt-3 text-center">Arbetserfarenheter</h3>
        <div class="p-2">
            <h5>Leg. sjukgymnast/ergonom</h5>
            <h6>Regionhälsan, Region Västmanland, 2017-2019</h6>
            <p>Sjukgymnast/ergonom inom företagshälsovården. Patientbedömningar, arbetsplatsbesök med ergonomigenomgångar, föreläsningar, grupper, mm.</p>
        </div>
        <div class="p-2">
            <h5>Leg. sjukgymnast</h5>
            <h6>Hemdal vårdcentral, Region Västmanland, 2016</h6>
            <p>Sedvanliga arbetsuppgifter som sjukgymnast på vårdcentral</p>
        </div>
        <div class="p-2">
            <h5>Tidigare anställningar</h5>
            <p>Jag har även arbetat som sjukgymnast inom primärvården och kommunal äldreomsorg, samt arbetat som barnskötare, säljare, vårdbiträde, restaurangbiträde, mm.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-lila" routerLink="/merits">Alla arbetserfarenheter</button>
        </div>
    </div>
</div>

