<nav class="navbar navbar-expand-lg bg-lila">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <a class="navbar-brand bg-lila-text" routerLink="/">Maja Garpelin | Frontendutvecklare</a>
        </div>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bg-lila-text" 
                aria-current="page" 
                routerLink="/" 
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{exact: true}"
                >Startsida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-lila-text" 
                aria-current="page" 
                routerLink="/cv" 
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{exact: true}"
                >CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-lila-text" 
                aria-current="page" 
                routerLink="/merits" 
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{exact: true}"
                >Meritförteckning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-lila-text" 
                aria-current="page" 
                routerLink="/connect" 
                routerLinkActive="active-link" 
                [routerLinkActiveOptions]="{exact: true}"
                >Kontakt</a>
            </li>
            
        </ul>
    </div>
</nav>

