.text-lila {
    color: #ad45b8;
}
.btn-lila {
    background: #ad45b8;
    color: #e6e0ea;
    font-weight: 500;
}
.btn-lila:hover {
    background: #ad45b8e3;
}
input, textarea {
    background: #e6e0ea;
}
input.ng-invalid.ng-touched {
    border: 1px solid rgb(226, 9, 9);
}