<div class="container my-5">
    <div class="text-center p-5 bg-light text-lila">
        <h2 class="my-3">Meritförteckning</h2>
        <!-- <div class="d-flex"> -->
            <div>
                <hr class="my-5">
                <h4 class="mb-3">Utbildning</h4>
                <div>
                    <h6>2020-2022 Frontendutvecklare, 400 yhp, EC Utbildning, Västerås</h6>
                    <p class="mb-3">2-årig yrkeshögskoleutbildning med fokus på Javascript, HTML och CSS.</p>
                    <h6>2018 Grundkurs i programmering, IT-högskolan</h6>
                    <p class="mb-3">Distanskurs i Java-programmering.</p>
                    <h6>2015 Hälsa och ohälsa – ett psykosomatiskt perspektiv, 7,5 hp, Karolinska institutet</h6>
                    <p class="mb-3"></p>
                    <h6>2015 Behandling av whiplash, Lärcentrum, Landstinget Västmanland</h6>
                    <p class="mb-3"></p>
                    <h6>2014 Axelina baskurs, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2014 Medicinsk akupunktur, 15 hp, Karolinska institutet</h6>
                    <p class="mb-3"></p>
                    <h6>2013-2014 OMT Steg 1, Västmanlands Fysio-Rehab AB</h6>
                    <p class="mb-3">OMT, Ortopedisk Manuell Terapi, steg 1 övre och OMT steg 1 nedre</p>
                    <h6>2013 Anpassa och ordinera fysisk aktivitet, 7,5 hp, Mälardalens högskola</h6>
                    <p class="mb-3"></p>
                    <h6>2013 Vård och rehabilitering efter stroke, 7,5 hp, Mälardalens högskola</h6>
                    <p class="mb-3"></p>
                    <h6>2013 Förskrivarutbildning Steg 1A och 1B, Hjälpmedelscentrum Västmanland</h6>
                    <p class="mb-3"></p>
                    <h6>2010-2013 Sjukgymnastprogrammet, 180 hp, Mälardalens högskola</h6>
                    <p class="mb-3">Sjukgymnastexamen och kandidatexamen i sjukgymnastik med inriktning mot beteendemedicin. </p>
                    <h6>2011-2012 Dipl. Massör, 7,5 hp, Mälardalens högskola/Friskvårdsgruppen</h6>
                    <p class="mb-3">Massage- och triggerpunktsbehandling. </p>
                    <h6>2002-2004 Lärarprogrammet, 90hp, Uppsala universitet</h6>
                    <p class="mb-3">Läste kurserna Lärares arbete A, Barn och lärande A samt Musik A </p>
                    <h6>2003 Power Yoga instruktörsutbildning, World Class instruktörsutbildningar </h6>
                    <p class="mb-3"></p>
                    <h6>2002 Barn och musik, 15hp, Karlstads universitet</h6>
                    <p class="mb-3"></p>
                    <h6>2002 Finska som modersmål, gymnasiekurs A och B, Fyrisskolan, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>1998-2001 Gymnasiets estetiska program, teaterlinjen, Bolandsskolan, Uppsala</h6>
                    <p class="mb-3"></p>
                </div>
            <!-- </div> -->
            <div>
                <hr class="my-5">
                <h4 class="mb-3">Arbetslivserfarenhet</h4>
                <div>
                    <h6>2017-2019 Leg. Sjukgymnast/ergonom, Regionhälsan, Region Västmanland</h6>
                    <p class="mb-3">Sjukgymnast/ergonom inom företagshälsovården. Patientbedömningar, arbetsplatsbesök med ergonomigenomgångar, föreläsningar, grupper, mm.</p>
                    <h6>2017 Leg. Sjukgymnast, Medcura AB </h6>
                    <p class="mb-3">Behovsanställning inom kommunen via bemanningsföretag.</p>
                    <h6>2016 Leg. Sjukgymnast, Hemdals vårdcentral, Region Västmanland</h6>
                    <p class="mb-3">Deltidsvikariat (80%) på vårdcentral. </p>
                    <h6>2015-2016 Leg. Sjukgymnast, Enköpingshälsan, Enköping</h6>
                    <p class="mb-3">Deltidsarbete (90%) inom primärvård. </p>
                    <h6>2015-2016 Leg. Sjukgymnast, Västerås Fysio, Västerås</h6>
                    <p class="mb-3">Eget företag på deltid. </p>
                    <h6>2015 Leg. Sjukgymnast, Bäckby vårdcentral, Region Västmanland </h6>
                    <p class="mb-3">Deltidsvikariat på vårdcentral. </p>
                    <h6>2014 Leg. Sjukgymnast, Levád Fysiotherapi, Västerås</h6>
                    <p class="mb-3">Deltidsarbete inom primärvård på en sjukgymnastmottagning.</p>
                    <h6>2014 Leg. Sjukgymnast, Erikslunds sjukgymnastik, Västerås</h6>
                    <p class="mb-3">Deltidsvikariat inom primärvård på en sjukgymnastmottagning.</p>
                    <h6>2013-2014 Leg. Sjukgymnast, Fagersta kommun</h6>
                    <p class="mb-3">Deltidsvikariat inom kommunens äldreomsorg.</p>
                    <h6>2013 Leg. Sjukgymnast, Distriktssköterskegruppen Cura AB, Västerås</h6>
                    <p class="mb-3">Behovsanställning inom hemsjukvården.</p>
                    <h6>2012 Vårdbiträde, Carema Care, Västerås</h6>
                    <p class="mb-3">Sommarjobb inom hemtjänsten. </p>
                    <h6>2005-2010 Säljare, Dressmann AB, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2006-2007 Lokalvårdare, Brf Lenngrenska gården, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2004-2005 Barnskötare, Lingonbackens Montessoriförskola, Uppsala</h6>
                    <p class="mb-3">Vikariat på småbarnsavdelning, heltidsarbete.</p>
                    <h6>2004 Barnskötare, Gamla Uppsala Montessori, Uppsala</h6>
                    <p class="mb-3">Vikariat på förskola, deltidsarbete.</p>
                    <h6>2004 Lokalvårdare, StädAB, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2003-2004 Lokalvårdare, Brf Lenngrenska gården, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2002 Restaurangbiträde, McDonald’s Drottninggatan, Karlstad</h6>
                    <p class="mb-3">Skiftarbete på heltid.</p>
                    <h6>2001 Vikarierande barnskötare, Regnbågens Montessoriförskola, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2000-2001 Diskare, Regnbågens Montessoriförskola, Uppsala</h6>
                    <p class="mb-3"></p>
                    <h6>2000 Lokalvårdare, Riksbyggen, Uppsala</h6>
                    <p class="mb-3"></p>
                </div>
            </div>
        </div>
        <div>
            <hr class="my-5">
            <h4 class="mb-3">Förtroendeuppdrag</h4>
                <h6>2018- Representant för Västerås i Länsförsäkringar Bergslagens kundfullmäktige</h6>
                <p class="mb-3"></p>
                <h6>2016-2019 Webbansvarig och styrelseledamot i Fysioterapeuterna Distrikt Västmanland</h6>
                <p class="mb-3">Ansvarade för uppdateringar av hemsidan (Episerver).</p>
                <h6>2013-2014 Sverigefinsk representant i Västerås stads Samrådsgrupp för finskt förvaltningsområde</h6>
                <p class="mb-3"></p>
                <h6>2004-2005 Kassör i Södermanland-Nerikes Nationsteater, Uppsala</h6>
                <p class="mb-3"></p>
                <h6>2004 Utbildningsansvarig i Södermanland-Nerikes Nationsteater, Uppsala</h6>
                <p class="mb-3"></p>
        </div>
        <div>
            <hr class="my-5">
            <h4 class="mb-3">Övrigt</h4>
            <h6>Språkkunskaper:</h6>
            <ul class="mb-3">
                <li>Svenska (modersmål)</li>
                <li>Finska (modersmål)</li>
                <li>Engelska (flytande i tal och skrift)</li>
            </ul>
            <h6>Körkort</h6>
            <p class="mb-3">B-Körkort och tillgång till bil. </p>
        </div>
    </div>
</div>
